.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -50px;
    left: -100px;
    width: 400px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -75px;
    left: -125px;
    width: 550px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -75px;
    left: -125px;
    width: 600px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
