---
layout: default
---

{% if page.landing %}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-9 order-2 order-md-1">
        <h1>{{ page.landing.title }}</h1>
        <p>{{ page.landing.excerpt }}</p>
      </div>
      <div class="col-12 col-lg-8 col-md-10 order-3 order-md-3" style="padding-left: 0">
        {% if page.intro_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-3 order-1 order-md-2 position-relative" style="z-index: -1">
        <img alt="{{ page.landing.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{{ content }}